name: GHOST_PRO_ULTIMATE
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build APK
        run: |
          pip install flet
          flet build apk --project "Ghost PRO" --yes
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Ghost-PRO-Ultimate
          path: build/apk/*.apk
