name: GHOST_PRO_STABLE_BUILD
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Flet and Dependencies
        run: |
          pip install flet
          # Если у тебя будут другие либы в будущем, добавляй их сюда

      - name: Build Android APK
        run: |
          # Собираем APK. Название проекта будет "Ghost PRO"
          # Флаг --yes автоматически принимает все лицензии
          flet build apk --project "Ghost PRO" --yes

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Ghost-PRO-Ultimate-APK
          path: build/apk/*.apk
