name: GHOST_ULTIMATE_BUILD
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev build-essential libltdl-dev
          pip install --user --upgrade "Cython<3.0" buildozer

      - name: Force Clean and Build
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # Полное уничтожение любого кэша перед сборкой
          rm -rf ~/.buildozer
          rm -rf .buildozer
          buildozer android debug
