name: GHOST_PRO_ULTRABUILD
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev build-essential
          pip install --user --upgrade "Cython<3.0" buildozer

      - name: Clean and Build
        run: |
          export PATH=$PATH:$HOME/.local/bin
          # Мы НЕ делаем buildozer clean, мы просто удаляем папку кэша вручную
          rm -rf .buildozer
          buildozer android debug
        env:
          BUILDOZER_ALLOW_ORG_GHOST: 1
